accelerate==0.27.0
cffi
decord==0.6.0
deepspeed==0.14.4
editdistance
jmespath
Levenshtein
numpy==1.26.4
openai
Pillow==10.1.0
protobuf==4.25.0
PyMuPDF
pytrec_eval==0.5
sentencepiece==0.1.99
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
transformers==4.44.2
soundfile==0.12.1
vector-quantize-pytorch==1.18.5
vocos==0.1.0
decord
moviepy